@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tilt Neon", sans-serif;
}
body {
  background: rgb(210, 219, 47);
  background: linear-gradient(
    45deg,
    rgba(210, 219, 47, 1) 0%,
    rgba(235, 226, 177, 1) 61%,
    rgba(0, 212, 255, 1) 100%
  );
}

.container {
  width: 60vh;
  background-color: #8ecddd;
  height: 80vh;
  margin: 10vh auto;
  border-radius: 24px;
}

.list-window {
  height: 70%;
  border-bottom: 1px solid #fff;
  padding: 10px 15px;
  text-align: center;
}
.list-window h2 {
  font-size: 2em;
  padding: 0 0 20px 0;
}

.list-container {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: flex-start;
}
ul li {
  padding: 10px 5px 15px 35px;
  user-select: none;
  cursor: pointer;
  font-size: 1.3rem;
  position: relative;
}
ul li::before {
  content: "";
  position: absolute;
  height: 30px;
  width: 30px;
  background-image: url(images/uncheked.png);
  background-size: cover;
  background-position: center;
  left: -2px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before {
  content: "";
  position: absolute;
  height: 30px;
  width: 30px;
  background-image: url(images/checked.png);
  background-size: cover;
  background-position: center;
  left: -2px;
}

.input-row {
  margin: 15px 10px 10px 25px;
  padding: 0 0 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fffadd;
  border-radius: 16px;
}

.input-task {
  background: none;
  border: none;
  outline: none;
  flex: 1;
  font-size: 1.05rem;
}

.submit-task {
  background: #f99417;
  border: none;
  border-radius: 16px;
  padding: 13px;
  font-size: 1.05rem;
  cursor: pointer;
  padding: 10px 40px 10px 40px;
}

ul li span {
  position: absolute;
  border-radius: 15px;
  top: 5px;
  left: 350px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 1.2rem;
  text-align: center;
}

ul li span:hover {
  background: #55555598;
}
